.base {
  left: 50%;
  right: 50%;
  top: 240px;
  transform: translate(-50%, -32px);
  width: 60%;
  opacity: 0.8;
  color: rgb(79, 79, 79);
  background-color: white;
  padding: 8px auto;
  text-align: center;
  border-radius: 5px;
  position: fixed;
}

@media (min-width: 1024px) {
  .base {
    display: none;
  }
}
